<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType
                name="Compound"
                delegate="info.adamovskiy.compound.CompoundLaunchConfigurationDelegate"
                modes="run, debug"
                id="info.adamovskiy.compound.launchConfigurationType">
        </launchConfigurationType>
    </extension>

    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
                class="info.adamovskiy.compound.ui.CompoundTabGroup"
                id="info.adamovskiy.compound.launchConfigurationTabGroup"
                type="info.adamovskiy.compound.launchConfigurationType">
        </launchConfigurationTabGroup>
    </extension>
    
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
         <launchConfigurationTypeImage
          	icon="icons/main.png"
			configTypeID="info.adamovskiy.compound.launchConfigurationType"
			id="info.adamovskiy.compound.launchConfigurationTypeImages">
	     </launchConfigurationTypeImage>       
   </extension>
</plugin>
